@model IEnumerable<MvcMasteryBlog.Models.Blog>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Blogs By Tags</title>
    <link rel="stylesheet" href="~/Styles/Style.css" />

</head>
<body>
    <div>

        @foreach (var blog in Model)
        {
        <p><img src="@blog.Image" alt=@blog.Title /></p>
        <p><span>@blog.Title</span></p>
        <p>Author: <span>@blog.Author</span></p>
        <p class="genreGo">Genre: <a href="/Genre/Index/">@blog.Genre.Name</a></p>
        <p>Blog: <span>@blog.Body</span></p>
        <p>Publish Date: <span>@blog.DateTime</span></p>

        }

        <p class="color"><a href="/Blog/Index/">Index</a></p>
        <hr />
    </div>

    <footer><h6>&copy;Gaming Doctors, 2019</h6></footer>

</body>
</html>
